#header{height:70px;background-color:#fff;width:100%;overflow:hidden}
#header #head{width:98%;height:70px;text-align:right;margin:0 auto;font-size:14px;background-image:url(../../assets/img/logo.png);background-position:center left;background-repeat:no-repeat;}
#header #head .head-doc a.head-user{color:#666;background:url(../../assets/img/head-doc.png) left no-repeat;text-align: left; margin-right: 20px; padding-left: 30px;}
#header #head .head-doc a.head-user1{color:#666;text-align: left;margin-right: 15px;}
#header #head .head-doc a.head-user2{color:#666;text-align: left;margin-right: 20px;}
#header #head .head-doc a.head-exit{color:#666;text-align:right;}
#header #head .head-doc a:hover{text-decoration:none;color:#0086d1}
#header #head .head-doc{ float: right;margin-top:26px}
#header #head .logos {float: left; margin-left: 230px; color: #666; font-size: 1.4em; text-align: left; margin-top:24px; line-height: 24px;letter-spacing: 2px;}
#header #head .logos .borlbox {float:left;height: 34px;width: 1px; background: linear-gradient(to bottom, transparent, #ddd, transparent ); margin-right: 14px; margin-top: -5px;}
#header #head .logos span{ letter-spacing: 0; color: #999; font-size: 0.8em;}


#footer{clear:both;height:110px;border-top:#429cd0 2px solid;background-color:#fff;width: 100%;}
#footer .foot{width:960px;height:80px;margin:0 auto;margin-top:30px}
#footer p{color:#666;font-size:14px;line-height:30px;text-align:center}
.footer{text-align:center;margin:15px 0; font:normal 14px/24px 'MicroSoft YaHei';}

/*导航栏*/

#nav{height:45px;background-color:#0186d1;color:#fff;overflow:hidden}
#nav ul{width:98%;margin:0 auto;font-size:16px;list-style-type:none;height:45px;padding:0;line-height:45px}
#nav ul li{display:inline;float:left;margin-left:0;background-color:#0186d1;width: 140px;margin-right: 4px;}
#nav ul li.current,#nav ul li:hover{background-color:#58b530}
nav ul li.current a:hover{background-color:#58b530}
#nav ul li a:hover{text-decoration:none;color:#fff}
#nav ul li a{color:#fff;display:inline;float:left; font-size: 1.15em;width: 100%;text-align: center;}
#nav ul i{ width: 30px; height: 30px; float: right;}
#nav ul i img{ width: 20px; height: 20px;}
#nav ul i:hover{ cursor: pointer;}


/*导航 - 二级*/
.popnav {background: #6f7274; position: absolute; margin-top: 45px;width: 140px !important;display: none;overflow: hidden;z-index: 7;}
.popnav a{float:left; width:140px; font-size: .9em!important; height: 40px;line-height: 40px; display: block !important;text-align: center;border-bottom: 1px solid #ccc;}
.popnav a:hover { background:  #090a0a !important;}

.popnav.wid128{ width: 128px!important;}
.popnav.wid128 a{width:122px;}

#nav ul li:hover >.popnav { color: #f00; display: block;}
